/* Featured Products Styles */
.featured-products {
    width: 100%;

    position: relative;
    right: 0;
    left: 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;

    margin-top: 43px;
    margin-bottom: 23px;
    padding: 0;
    padding-left: 60px;
}

.prod-cat-title {
    margin-left: 58px;
    font-weight: bold;
    font-size: 58px;
}

.product-container {
    display: flex;
    flex-direction: column;

    /* background-color: lightblue; */
    box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.15),
    -5px -5px 6px 3px rgba(226, 222, 222);
    border-radius: 8px;
    height: 430px;
    width: 300px;
    padding: 10px;
    padding-bottom: 0;
    transition: transform 0.15s;
}

.product-container:hover {
    transform: translate(0, -10px) scale(1.1);
}

.prod-img-wrap {
    width: 280px;
    aspect-ratio: 1 / 1.02;
    margin-bottom: 10px;
}

.prod-img-wrap img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.prod-info {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 20px;
}

.prod-info .prod-name {
    font-weight: 700;
}

.prod-info .prod-type {
    color: rgb(77, 75, 75);
    font-size: 16px;
}

.info-btn-cont {
    text-align: center;
}

.info-btn-cont button {
    padding: 8px 16px;
    border: 3px solid #0d6efd;
    border-radius: 8px;

    background-color: #0d6efd;
    font-size: 15px;
    color: white;

    transition: background-color 0.1s, border-color 0.1s;

}

.info-btn-cont button:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.info-btn-cont button:active {
    background-color: #0a58ca;
    border-color: #0a53be;
}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 90px;
}

.about-text {
    width: 800px;
}

.more-btn button {
    padding: 10px 25px;
    background-color: rgba(255,97,0,.75);
    /* background: rgb(194,0,0);
    background: linear-gradient(90deg, rgba(194,0,0,1) 21%, rgba(255,97,0,1) 48%, rgba(220,147,131,1) 93%); */
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.more-btn button:hover {
    background-color: rgba(255,97,0,.8);
}

.more-btn button:active {
    background-color: rgba(255,97,0);
}

.about-text p {
    font-size: 20px;
}