.navbar {
    background-color: #343a40;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

.navbar-brand img {
    max-width: 100px; /* Adjust the logo size as needed */
    height: auto;
}